@media (min-width: 769px) {

    .burger-menu {
        display: none;
    }

    .product_name {
        display: block;
    }

    .articulos-container {
        height: 400px;
    }

    .articulo {
        padding-top: 20px;
        margin-bottom: 20px;
        width: 200px;
        height: 320px;
        overflow: hidden;
        transition: all 100ms;
    }
    
    .articulo:hover {
        height: 370px;
        box-shadow: 0px 0px 10px rgb(170, 170, 170);
    }

    .product_name {
        color: black;
    }

    .contenedor-logo-busqueda {
        justify-content: space-between;
        width: 66%;
    }

    .contenedor-logo-busqueda-cuotas {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        justify-content: space-around;
    }

    .nav-bar ul {
        display: flex;
        margin: 0 5px;
    }

    .truck-container {
        transition: all 100ms;
    }
    
    .truck-container:hover {
        transform: rotate(-90deg);
    }

    footer {
        padding-top: 10px;
    }
    
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-items-container {
        margin: 5px 30px 5px 30px;
    }

    .descuentos {
        width: 55%;
    }

    .precios {
        width: 45%;
    }

/*         LOGIN y REGISTER          */

    main form {
        margin-left: 35%;
        margin-right: 35%;
    }
    
        .contenedor-input{
            width: 100%;
        }
    
        .contenedor-button{
            width: 100%;
        }
}