*{
    margin: 0px;
    /*padding: 0px;*/
    box-sizing: border-box;
   }

.contenedor-logo-busqueda {
    display: flex;
    align-items: center;
}

    .logo-principal {
        width: 50%;
        max-width: 200px;
    }

    .contenedor-barra-busqueda {
        display: flex;
        justify-content: space-between;
        width: 50%;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        background: white;
        border-radius: 10px;
        padding: 10px;
        height: 40px;
    }

        .barra-busqueda {
            border: none;
            background: none;
            outline: none;
            height: 100%;
            width: 80%;
        }

        .icono-busqueda {
            color: rgb(119, 119, 119);
        }

.nav-bar {
    display: none;
}

    .nav-bar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .nav-item {
            text-decoration: none;
            color: black;
            display: inline-block;
            padding: 20px 10px 0px 10px;
            font-weight: bold;
        }

            .nav-item a {
                text-decoration: none;
                color: black;
            }

main {
    /*width: 90vw;*/
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding: 5px;
}

p {
    font-size: 12px;
}

.banner {
    width: 100%;
}

.titular {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    padding-left: 5px;
    width: 70%;
}

.burger-menu {
    text-align: center;
    margin-left: 50%;
    color: white;
    background-color: #0954a5;
    width: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border-bottom: 10px;
}

.subtitulo {
    text-align: center;
    font-size: 12px;
}

footer {
    text-align: center;
    background-color: white;
    width: 100%;
}

.iconos-footer {
    color: #3d3ad8;
    font-size: 25px;
    margin: 10px 0px 10px 0px;
    transition: all 100ms;
}

    .iconos-footer:hover {
        color: #0022AA;
    }

.footer-items-container {
    margin: 5px 10px 5px 10px;
}

.articulo {
    padding-bottom: 10px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    /*height: 333px;
    overflow: hidden;
    transition: all 100ms;*/
}

/*.articulo:hover {
    height: 370px;
}*/

.descripcion {
    border-top: solid 1px #ebebeb;
    padding: 20px;
    text-align: left;
}

.truck-container{
    font-size: 16px;
    padding: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: -76%;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /*right: 20px;
    top: -15px;
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;*/

}

.price-info {
    display: flex;
    /*max-width: 32%;*/
    height: 40px;
    align-items: baseline;
}

.fa-truck,
.descuentos {
    color: #39b54a
}

.product_img {
    width: 100%;
    border-radius: 5px;
}

.product_name {
    /*display: none;*/
    color: white;
    transition: all 100ms;
}

    .product_name:hover {
        color: black;
    }

.articulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright-footer {
    padding: 0px 0px 10px 0px;
}